$color-primary: #3498db;
// $color-secondary: #f7622e;
$color-secondary: #ff5400;
$color-danger: #d04444;
$color-danger: #d00000;
$color-prev-btn: #a72608;
$color-text-light: #424236;
$color-border: #e1e7ec;
$color-link: #3c3c3c;

$font-x-sm: 0.875rem; // 14px
$font-sm: 1rem;
$font-md: 22px;
$font-lg: 28px;
$font-x-lg: 34px;
$border-radius: 3px;
