header {
  position: fixed;
  background: #fff;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(111, 110, 95, 0.3);
  z-index: 999;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    nav {
      position: fixed;
      left: 100%;
      top: 50px;
      width: 100%;
      height: 100vh;
      padding: 2rem 0;
      transition: left 0.3s cubic-bezier(0.77, 0.2, 0.05, 1);
      text-align: center;
      background-color: #fff;
      z-index: 10;

      &.open {
        left: 0;
      }

      > ul {
        > li {
          padding: 1rem 0;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;

      .menu-btn {
        position: relative;
        width: 1.125rem;
        height: 1.125rem;

        i {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          width: 1.125rem;
          height: 1.125rem;
          transition: 0.3s ease;
        }

        i.active {
          visibility: visible;
          opacity: 1;
        }
      }

      .search-btn {
        margin-right: 1rem;
      }
    }

    .search-holder {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      transition: 0.3s ease-in-out;
      padding: 1rem 2rem;
      transform: translateX(-100%);

      .wrapper {
        display: flex;
        align-items: center;
      }

      &.open {
        transform: translateX(0);
      }
      .close-search {
        margin-right: 1rem;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        // font-family: "Roboto", sans-serif;

        &::placeholder {
          color: #ccc;
        }
      }
    }
  }
}

@include breakpoint-up(large) {
  header {
    .container {
      nav {
        all: unset;
        flex: 0 0 60%;
        height: $height-nav;

        > ul {
          display: flex;
          justify-content: space-between;

          > li {
            display: inline-block;

            &:hover {
              border-bottom: 3px solid $color-nav-border;
            }
          }
        }
      }

      .menu .menu-btn {
        display: none;
      }
    }
  }
}

@include breakpoint-up(medium) {
  header {
    padding: 0;

    .container {
      height: 80px;

      .logo {
        flex: 0 0 23%;
        font-size: 18px;
      }

      .search-holder {
        padding: 1.5rem 10rem;

        .close-search {
          margin-right: 3rem;
        }
      }
    }
  }
}
